.container {
}
.title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #fff;
  padding-top: 101px;
}
.subTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  text-align: center;
  color: #fff;
  padding-top: 16px;
}

.descContainer {
  position: relative;
  display: flex;
  align-items: center;
  row-gap: 96px;
  margin-top: 4rem;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 2rem;
  flex: 1;
  margin-bottom: 6rem;
}

.singleDes {
  width: 25%;
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--textSoft);
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}
.singleDes.active {
  border: 3px solid #c0187e;
}

.singleDes.active::after {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: #fff;
  right: -11px;
  top: 27px;
  transform: rotate(45deg);
  border-radius: 0 6px 0 0;
  box-shadow: 3px -3px 0 0 #c0187e;
}

.descImg {
}
.academicImg {
  width: 60% !important;
  border-radius: 15px !important;
  margin-left: 25rem;
  padding-bottom: 6rem;
}

/*! Styles for screens smaller than or equal to 600px */
@media (max-width: 450px) {
  .descContainer {
    width: 100%;
    height: 120vh;
    flex-direction: column;
    padding-left: 1rem;
  }

  .desc {
    width: 100%;
    flex-wrap: wrap;
    height: fit-content !important;
    flex-direction: row;
    column-gap: 3rem;
    margin: 0;
    padding: 0;
    margin-bottom: 60rem;
  }

  .singleDes {
    height: 100px;
    width: 80%;
    padding: 1rem;
  }

  .descImg {
    position: absolute;
    bottom: 3%;
    left: 25%;
    width: 100%;
    height: 25%;
  }
  .academicImg {
    width: 50% !important;
    margin-left: 0rem;
    padding-bottom: 1rem;
  }
}

/*! Styles for screens smaller than or equal to 600px */
@media (min-width: 451px) and (max-width: 640px) {
  .descContainer {
    width: 100%;
    height: 90vh;
    flex-direction: column;
    padding-left: 1rem;
  }

  .desc {
    width: 100%;
    flex-wrap: wrap;
    height: fit-content !important;
    flex-direction: row;
    column-gap: 3rem;
    margin: 0;
    padding: 0;
    margin-bottom: 60rem;
  }

  .singleDes {
    height: 100px;
    width: 40%;
    padding: 1rem;
  }

  .descImg {
    position: absolute;
    bottom: 3%;
    left: 25%;
    width: 100%;
    height: 40%;
  }
  .academicImg {
    width: 50% !important;
    margin-left: 0rem;
    padding-bottom: 1rem;
  }
}

/*! Styles for screens between 601px and 900px md */
@media (min-width: 641px) and (max-width: 768px) {
  .descContainer {
    width: 100%;
    height: 80vh;
    flex-direction: column;
    padding-left: 1rem;
  }

  .desc {
    width: 100%;
    flex-wrap: wrap;
    height: fit-content !important;
    flex-direction: row;
    column-gap: 3rem;
    margin: 0;
    padding: 0;
    margin-bottom: 60rem;
  }

  .singleDes {
    height: 100px;
    width: 24%;
    padding: 1rem;
  }

  .descImg {
    position: absolute;
    bottom: 3%;
    left: 25%;
    width: 100%;
    height: 50%;
  }
  .academicImg {
    width: 50% !important;
    margin-left: 0rem;
    padding-bottom: 1rem;
  }
}

/*! Styles for screens between 601px and 900px md */
@media (min-width: 769px) and (max-width: 1024px) {
  .descContainer {
    width: 100%;
    height: 80vh;
    flex-direction: column;
    padding-left: 1rem;
  }

  .desc {
    width: 100%;
    flex-wrap: wrap;
    height: fit-content !important;
    flex-direction: row;
    column-gap: 3rem;
    margin: 0;
    padding: 0;
    margin-bottom: 60rem;
  }

  .singleDes {
    height: 100px;
    width: 24%;
    padding: 1rem;
  }

  .descImg {
    position: absolute;
    bottom: 3%;
    left: 25%;
    width: 100%;
    height: 50%;
  }
  .academicImg {
    width: 50% !important;
    margin-left: 0rem;
    padding-bottom: 1rem;
  }
}
