@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgS: #fefefe;
  --bg: #0d0c22;
  --bgSoft: #2d2d42;
  ---bgBtn: #ffffffa0;
  --text: white;
  --textSoft: #515987;
  --btn: #58a0d9;
  --btnH: #3a92d9;
  background-color: #fefefe;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bgS);
  /* color: var(--text); */
}

a {
  text-decoration: none;
  color: inherit;
}
